@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

.container {
    overflow-x: hidden;
    background-color: var(--main-white);
    .logo{
        text-align: center;
        padding-top: 20px;
        img {
            width: 150px;
        }
    }
    .header{
        padding: 150px;
        padding-top: 20px;
        .description{
            display: flex;
            .text {
                width: 50vw;
                p {
                    font-size: 20px;
                    color: var(--main-orange);
                }
                h1 {
                    font-size: 65px;
                    padding-top: 20px;
                }
                h2 {
                    width: 80%;
                    font-size: 15px;
                    color: var(--main-gray);
                    font-weight: semi-bold;
                    padding-top: 30px;
                }
                .buttons {
                    justify-content: space-between;
                    padding-top: 50px;
                    button {
                        padding: 25px;
                        margin-right: 70px;
                        border: none;
                        border-radius: 30px;
                        cursor: pointer;
                    }
                    .btnwhite {
                        color: black;
                        background-color: white;
                        font-weight: semi-bold;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        &:hover {
                            background-color: var(--main-orange);
                            color: white;
                            font-weight: bold;
                        }
                    }
                    .btnorange {
                        color: white;
                        background-color: var(--main-orange);
                    }
                }
            }
        }
        .services {
            display: flex;
            color: white;
            padding-top: 100px;
            .text1 {
                background-color: var(--main-orange);
                display: flex;
                padding: 60px;
                .icons{
                    margin-right: 50px;
                    i {
                        font-size: 60px;
                        color: white;
                    }
                }
                div {
                h1 {
                    font-weight: normal;
                    font-size: 20px;
                }
                h2 {
                    padding-top: 10px;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 1.8;
                    inline-size: 200px;
                    overflow-wrap: break-word;
                }
            }
        }
            .text2 {
                background-color: var(--main-dark-orange);
                display: flex;
                padding: 60px;
                .icons{
                    margin-right: 30px;
                    i {
                        font-size: 40px;
                        color: white;
                    }
                }
                div {
                h1 {
                    font-weight: normal;
                    font-size: 20px;
                }
                h2 {
                    padding-top: 10px;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 1.8;
                    inline-size: 200px;
                    overflow-wrap: break-word;
                }
            }
        }
            .text3 {
                background-color: var(--main-orange);
                display: flex;
                padding: 60px;
                .icons{
                    margin-right: 30px;
                    i {
                        font-size: 40px;
                        color: white;
                    }
                }
                div {
                    h1 {
                        font-weight: normal;
                        font-size: 20px;
                    }
                    h2 {
                        padding-top: 10px;
                        line-height: 1.8;
                        font-weight: normal;
                        font-size: 15px;
                        inline-size: 250px;
                        overflow-wrap: break-word;
                    }
                }
            }
        }
    }

    .servicesContainer {
        width: 100vw;
        background-image: url('../public/images/imgBackgroundSection.jpeg');
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 0px 0px 200px 200px rgba(0,0,0,0.9);
        opacity: 0.9;
        padding: 100px;
        .title {
            text-align: center;
            h1 {
                color: var(--main-orange);
                font-size: 15px;
            }
            h2 {
                color: var(--main-white);
                font-weight: bold;
                padding-top: 20px;
                font-size: 40px;
            }
        }
        .services{
            z-index: 2;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            padding-top: 50px;
            .container{
                display: flex;
                background-color: white;
                border-radius: 8px;
                width: 20vw;
                margin: 20px;
                padding: 15px;
                padding-left: 40px;
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                .icons {
                    padding-top: 20px;
                    margin-right: 25px;
                    i {
                        font-size: 40px;
                        color: black;
                    }
                }
                .text {
                    h1 {
                        font-weight: normal;
                        font-size: 20px;
                    }
                    h2 {
                        padding-top: 10px;
                        font-weight: normal;
                        font-size: 15px;
                        inline-size: 150px;
                        overflow-wrap: break-word;
                    }
                }
            }
        }
    }
    .emailsection{
        background-color: var(--main-orange);
        width: 100vw;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20%;
        padding-right: 30%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 2px solid var(--main-white);
        .text{
            color: white;
            display: flex;
            i {
                font-size: 40px;
                margin-right: 20px;
            }
            h1 {
                font-weight: normal;
                font-size: 20px;
                inline-size: 300px;
            }
        }
        .input {
            position: relative;
            input {
                width: 500px;
                padding: 18px;
                border-radius: 5px;
                border: 2px solid var(--main-white);
                background-color: var(--main-orange);
                outline: none;
            }
            input::placeholder{
                color: white;
            }
            .button{
                font-weight: bold;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 15px;
                border: 2px solid var(--main-white);
                color: var(--main-white);
                background-color: transparent;
                padding: 5px 10px;
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }
    footer {
        display: flex;
        background-color: #222429;
        flex-direction: column;
        padding: 150px;
        padding-top: 50px;
        padding-bottom: 20px;
        .contact {
            display: flex;
            justify-content: center;
            width: 100%;
            .contactCard {
                display: flex;
                text-align: left;
                padding: 15px;
                color: #fff;
                background-color: rgb(29, 29, 29);
                width: 33%;
                .icons {
                    i {
                        font-size: 40px;
                        color: var(--main-orange);
                        margin-right: 15px;
                        padding-left: 30px;
                    }
                }
                .text {
                    h1 {
                        padding-top: 5px;
                        font-weight: normal;
                        font-size: 13px;
                    }
                    h2 {
                        font-weight: normal;
                        font-size: 13px;
                        overflow-wrap: break-word;
                    }
                }
            }
        }
        .footerHR {
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-top: 20px;
            hr {
                margin: 20px 0;
                height: 2px;
                width: 100%;
                background-color: #535559;
                border-radius: 5px;
                text-align: center;
                border: none;
            }
        }
        .copyright {
            h1{
                text-align: center;
                color: #686a6f;
                font-size: 15px;
                font-weight: normal;
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .container {
        overflow-x: hidden;
        background-color: var(--main-white);
        height: 100vh;
        width: 100vw;
        .logo{
            padding-top: 20px;
            img {
                width: 100px;
            }
        }
        .header{
            padding: 20px;
            padding-top: 20px;
            .description{
                flex-direction: column;
                .text {
                    width: 100vw;
                    p {
                        font-size: 20px;
                        color: var(--main-orange);
                    }
                    h1 {
                        font-size: 50px;
                        padding-top: 10px;
                    }
                    h2 {
                        width: 80%;
                        font-size: 15px;
                        color: var(--main-gray);
                        font-weight: semi-bold;
                        padding-top: 15px;
                    }
                    .buttons {
                        justify-content: space-between;
                        padding-top: 30px;
                        display: flex;
                        padding-bottom: 35px;
                        padding-left: 30px;
                        button {
                            padding: 25px;
                            border: none;
                            border-radius: 30px;
                            cursor: pointer;
                        }
                        .btnwhite {
                            color: black;
                            background-color: white;
                            font-weight: semi-bold;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                            &:hover {
                                background-color: var(--main-orange);
                                color: white;
                                font-weight: bold;
                            }
                        }
                        .btnorange {
                            color: white;
                            background-color: var(--main-orange);
                        }
                    }
                }
                .images{
                    flex-direction: column;
                    img {
                        width: 100%;
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    }
                }
            }
            .services {
                flex-direction: column;
                color: white;
                padding-top: 50px;
                .text1 {
                    background-color: var(--main-orange);
                    display: flex;
                    padding: 20px;
                    .icons{
                        margin-right: 20px;
                        i {
                            font-size: 60px;
                            color: white;
                        }
                    }
                    div {
                    h1 {
                        font-weight: normal;
                        font-size: 20px;
                    }
                    h2 {
                        padding-top: 10px;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 1.8;
                        inline-size: 200px;
                        overflow-wrap: break-word;
                    }
                }
            }
                .text2 {
                    background-color: var(--main-dark-orange);
                    display: flex;
                    padding: 40px;
                    .icons{
                        margin-right: 30px;
                        i {
                            font-size: 40px;
                            color: white;
                        }
                    }
                    div {
                    h1 {
                        font-weight: normal;
                        font-size: 20px;
                    }
                    h2 {
                        padding-top: 10px;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 1.8;
                        inline-size: 200px;
                        overflow-wrap: break-word;
                    }
                }
            }
                .text3 {
                    background-color: var(--main-orange);
                    display: flex;
                    padding: 30px;
                    .icons{
                        margin-right: 15px;
                        i {
                            font-size: 40px;
                            color: white;
                        }
                    }
                    div {
                        h1 {
                            font-weight: normal;
                            font-size: 20px;
                        }
                        h2 {
                            padding-top: 10px;
                            line-height: 1.8;
                            font-weight: normal;
                            font-size: 15px;
                            inline-size: 250px;
                            overflow-wrap: break-word;
                        }
                    }
                }
            }
        }
    
        .servicesContainer {
            width: 100vw;
            background-image: url('../public/images/imgBackgroundSection.jpeg');
            height: 1350px;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: inset 0px 0px 200px 200px rgba(0,0,0,0.9);
            opacity: 0.9;
            padding: 20px;
            .title {
                text-align: center;
                h1 {
                    color: var(--main-orange);
                    font-size: 15px;
                }
                h2 {
                    color: var(--main-white);
                    font-weight: bold;
                    padding-top: 20px;
                    font-size: 40px;
                }
            }
            .services{
                z-index: 2;
                flex-direction: column;
                width: 100%;
                padding-top: 10px;
                .container{
                    display: flex;
                    background-color: white;
                    border-radius: 8px;
                    width: 300px;
                    height: 160px;
                    margin: 20px;
                    padding: 15px;
                    padding-left: 40px;
                    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                    .icons {
                        padding-top: 20px;
                        margin-right: 25px;
                        i {
                            font-size: 40px;
                            color: black;
                        }
                    }
                    .text {
                        h1 {
                            font-weight: normal;
                            font-size: 20px;
                        }
                        h2 {
                            padding-top: 10px;
                            font-weight: normal;
                            font-size: 15px;
                            inline-size: 150px;
                            overflow-wrap: break-word;
                        }
                    }
                }
            }
        }
        .emailsection{
            background-color: var(--main-orange);
            width: 100vw;
            height: 100px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-left: 20%;
            padding-right: 30%;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 2px solid var(--main-white);
            .text{
                color: white;
                display: flex;
                padding-left: 50px;
                i {
                    font-size: 40px;
                    margin-right: 20px;
                }
                h1 {
                    font-weight: normal;
                    font-size: 20px;
                    inline-size: 300px;
                }
            }
            .input {
                flex-direction: column;
                padding-top: 20px;
                input {
                    width: 113vw;
                    padding: 15px;
                    border-radius: 5px;
                    border: 2px solid var(--main-white);
                    background-color: var(--main-orange);
                    outline: none;
                }
                input::placeholder{
                    color: white;
                    padding-left: 50px;
                }
                .button{
                    font-weight: bold;
                    position: absolute;
                    top: 63%;
                    transform: translateY(-50%);
                    right: 15px;
                    border: 2px solid var(--main-white);
                    color: var(--main-white);
                    background-color: transparent;
                    padding: 5px 10px;
                    border-radius: 20px;
                    cursor: pointer;
                }
            }
        }
        footer {
            background-color: #222429;
            flex-direction: column;
            padding-top: 50px;
            padding-bottom: 20px;
            padding: 0px;
            .contact {
                justify-content: center;
                width: 100%;
                padding-top: 50px;
                
                .contactCard {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    padding: 15px;
                    color: #fff;
                    background-color: rgb(29, 29, 29);
                    width: 100%;
                    .icons {
                        i {
                            font-size: 40px;
                            color: var(--main-orange);
                            margin-right: 15px;
                            padding-left: 30px;
                        }
                    }
                    .text {
                        h1 {
                            padding-top: 10px;
                            font-weight: normal;
                            font-size: 13px;
                        }
                        h2 {
                            font-weight: normal;
                            font-size: 13px;
                            overflow-wrap: break-word;
                        }
                    }
                }
            }
            .footerHR {
                align-items: center;
                justify-content: center;
                text-align: center;
                padding-top: 20px;
                hr {
                    margin: 20px 0;
                    height: 2px;
                    width: 100%;
                    background-color: #535559;
                    border-radius: 5px;
                    text-align: center;
                    border: none;
                }
            }
            .copyright {
                h1{
                    text-align: center;
                    color: #686a6f;
                    font-size: 15px;
                    font-weight: normal;
                    padding-bottom: 30px;
                }
            }
        }
    }
}
